.divider-line {
  border: 0px;
  height: 1px;
  border-top: 1px solid #A9A9A9;
  max-width: 200px;
}

.jumbotron-container{ 
  padding: 30px;
  background-color: #3d4045;
  height: 40vh;
  color: white;
  text-align: center;
}

.competition-card{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right:10px;
  width : 280px;
  height: 455px;
}

.competition-flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logos-flex-container{
  display: flex;
  justify-content: space-around;
}

.competition-card-image{
  width :260;
  height: 145;
}

.competition-card-text{
  padding-top: 8px !important;
  padding-bottom:8px !important;
}

.competition-card-title{
  padding-top: 8px !important;
  padding-bottom:8px !important;
}

.competition-card-actions{
  float: right;
}