.divider-line {
  border: 0px;
  height: 1px;
  border-top: 1px solid #A9A9A9;
  max-width: 200px;
}

.jumbotron-container{ 
  padding: 30px;
  background-color: #3d4045;
  height: 43vh;
  min-height: fit-content;
  color: white;
  text-align: center;
}

.competition-card{
  margin: 0 calc((100% - 300px * 4) / 8);
  margin-top: 20px;
  margin-bottom: 20px;
  /*
  margin-left: 10px;
  margin-right:10px;
  */
  width : 300px;
  height: 455px;
  position:relative;
}

.competition-flex-container{
  margin: 0 auto;
  width:90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logos-flex-container{
  display: flex;
  justify-content: space-around;
  margin:0 auto;
  width:80%
}

.competition-card-image{
  width :260;
  height: 145;
}

.competition-card-text{
  padding-top: 8px !important;
  padding-bottom:8px !important;
}

.competition-card-title{
  padding-top: 8px !important;
  padding-bottom:8px !important;
}

.competition-card-actions{
    position:absolute !important;
    bottom:0;
    right:0;
}

.logo-action{
  width:200px;
  margin:0 auto;
}

.logo-explanation{
  width:250px;
  margin:0 auto;
  color:rgb(179, 179, 179);
}


.logo-img{
  margin-bottom: 15px;
}